deepdiff
torch==2.2.0+cu121
--extra-index-url https://download.pytorch.org/whl/cu121
numpy<2
Pillow
pynvml; platform_machine != 'aarch64'
py-cpuinfo
piexif
jetson-stats; platform_machine == 'aarch64'
